
# Ambiente virtual
.venv/

# Credenciais Google
credenciais.json

# VSCode
.vscode/

# Python
__pycache__/
*.pyc


# local env secrets
.env

fundacoes-engenharia/
app/routes/RASCUNHOS/
docs/Apresentação/