<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>SAT – Sistema de Apoio ao Trabalho Docente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/favicon.ico">
</head>
<body>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    Desenvolvido no Laboratório de Geotecnia e Tecnologias Aplicadas – FEC / UNICAMP
  </footer>

</body>
</html>
